#header
{
  font-size: 50px;
  text-align:center;
  text-shadow: 1px 1px 3px #353c45;
}
.about
{
  text-align:center;
  font-size: 28px;
  text-shadow: 1px 1px 3px #353c45;
}
body{
    font-family: 'Comic Sans MS', Comic Sans, cursive;
  }
  p{
    text-align:justify;
    font-size: 20px;
  }
  ol{
    font-size: 20px;
  }
  ul{
    font-size: 20px;
  }
  h2{
    font-size: 28px;
  }
  h3{
    font-size: 24px;
    text-shadow: 1px 1px 3px #353c45;
  }
  a{
    font-size: 20px;
  }